@import '~@/uni_modules/lime-style/index.scss';

/* #ifdef  uniVersion >= 4.75 */ 
$use-css-var: true;
/* #endif */

$fab-width: create-var(fab-width, 48px);
$fab-height: create-var(fab-height, 48px);
$fab-initial-gap: create-var(fab-initial-gap, 24px);
$fab-icon-size: create-var(fab-icon-size, 28px);
$fab-bg-color: create-var(fab-bg-color, $primary-color);
$fab-color: create-var(fab-color, white);
$fab-z-index: create-var(fab-z-index, 999);
$fab-border-radius: create-var(fab-border-radius, 999px);



.#{$prefix}-fab {
	position: fixed;
	left: 0;
	top: 0;
	z-index: $fab-z-index;
	right: $fab-initial-gap;
	bottom: $fab-initial-gap;
	// transition: transform 0.3s;
	width: $fab-width;
	height: $fab-height;
	
	justify-content: center;
	align-items: center;
	
	background-color: $fab-bg-color;
	// color: $fab-color;
	// border-radius: $fab-border-radius;
	@include border-radius($fab-border-radius);
	pointer-events: auto;
	
	transition-property: transform;
	// transition-duration: 300ms;
	
	// &:active,&--active {
	// 	opacity: 0.9;
	// }
	&__icon {
		font-size: $fab-icon-size;
	}
}
