@import '~@/uni_modules/lime-style/index.scss';
/* #ifdef  uniVersion >= 4.75 */ 
$use-css-var: true;
/* #endif */
$code-input: #{$prefix}-code-input;

$code-input-height: create-var(code-input-height, 50px);
$code-input-font-size: create-var(code-input-font-size, 20px);
$code-input-radius: create-var(code-input-radius, $spacer-tn);
$code-input-bg-color: create-var(code-input-bg-color, $gray-1);
$code-input-info-color: create-var(code-input-info-color, $text-color-3);
$code-input-info-font-size: create-var(code-input-info-font-size, $font-size);
$code-input-error-info-color: create-var(code-input-error-info-color, $error-color);
$code-input-dot-size: create-var(code-input-dot-size, 10px);
$code-input-dot-color: create-var(code-input-dot-color, $text-color-1);
$code-input-text-color: create-var(code-input-text-color, $text-color-1);
$code-input-cursor-color: create-var(code-input-cursor-color, $text-color-1);
$code-input-cursor-width: create-var(code-input-cursor-width, 1px);
$code-input-cursor-height: create-var(code-input-cursor-height, 40%);
$code-input-cursor-duration: create-var(code-input-cursor-duration, 1s);

$code-input-active-bg-color: create-var(code-input-active-bg-color, $gray-1);
$code-input-active-border-color: create-var(code-input-active-border-color, transparent);

.#{$code-input} {
	&__info {
		/* #ifndef UNI-APP-X */
		display: block;
		/* #endif */
	    margin-top: $spacer;
	    font-size: $code-input-info-font-size;
	    text-align: center;
		color: $code-input-info-color;
		&--error {
			color: $code-input-error-info-color;
		}
	}
	
	&__security {
		/* #ifndef UNI-APP-X */
		display: flex;
		position: relative;
		/* #endif */
		flex-direction: row;
		align-items: center;
		height: $code-input-height;
		
		/* #ifndef APP-ANDROID || APP-IOS || APP-HARMONY  */
		cursor: pointer;
		/* #endif */
	}
	&__dot {
		// line-height: $code-input-height;
		font-size: $code-input-dot-size;
		color: $code-input-dot-color;
	}
	&__item {
		position: relative;
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: center;
		height: 100%;
		&--box {
			background-color: $code-input-bg-color;
			// border-radius: $code-input-radius;
			@include border-radius($code-input-radius);
		}
		&--line {
			// border-bottom: 1.5px solid $code-input-bg-color;
			border-bottom-width: 1.5px;
			border-bottom-style: solid;
			border-bottom-color: $code-input-bg-color;
		}
		&--box.l-code-input__item--active {
			background-color: $code-input-active-bg-color;
			// border: 1px solid $code-input-active-border-color;
		}
		&--line.l-code-input__item--active {
			border-bottom-color: $code-input-active-border-color;
			/* #ifndef APP-ANDROID || APP-IOS || APP-HARMONY */
			// border-color: var($code-input-active-border-color, $code-input-bg-color);
			// background-color: $code-input-active-bg-color;
			// border: 1px solid $code-input-active-border-color;
			/* #endif */
		}
		/* #ifndef APP-ANDROID || APP-IOS || APP-HARMONY || WEB */
		// 微信小程序会多包一个view
		& > view:not(.l-code-input__symbol):not(.l-code-input__cursor) {
			position: initial;
		}
		/* #endif */
	}
	&__text {
		color: $code-input-text-color;
		font-size: $code-input-font-size;
		line-height: 1.2;
	}
	&__symbol {
		position: absolute;
		top: 50%;
		left: 50%;
		width: $code-input-dot-size;
		height: $code-input-dot-size;
		background-color: $code-input-dot-color;
		border-radius: 99px;
		transform: translate(-50%, -50%);
	}
	&__cursor {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    width: $code-input-cursor-width;
	    height: $code-input-cursor-height;
	    background-color: $code-input-cursor-color;
	    transform: translate(-50%, -50%);
		/* #ifndef APP-ANDROID || APP-IOS || APP-HARMONY */
	    animation: $code-input-cursor-duration l-cursor-flicker infinite;
		/* #endif */
		/* #ifdef APP-ANDROID || APP-IOS || APP-HARMONY */
		// transition-duration: 500ms;
		// transition-property: opacity;
		// transition-timing-function: ease;
		opacity: 1;
		/* #endif */
		&--last {
			margin-left: $code-input-dot-size;
		}
	}
	&__input {
		position: absolute;
		left: -50%;
		right: -50%;
		top: -2%;
		bottom: -2%;
		// uniappx ios不能为0
		opacity: 0.011;
		
		// left: 0;
		// height: 100%;
		// background-color: antiquewhite;
	}
}

/* #ifndef APP-ANDROID || APP-IOS || APP-HARMONY */
@keyframes l-cursor-flicker {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
/* #endif */