$uv-main-color: var(--uv-main-color);
$uv-content-color: var(--uv-content-color);
$uv-tips-color: var(--uv-tips-color);
$uv-light-color: var(--uv-light-color);
$uv-border-color: var(--uv-border-color);
$uv-bg-color: var(--uv-bg-color);
$uv-disabled-color: var(--uv-disabled-color);
$uv-text-color: var(--uv-text-color);
$uv-gray-color: var(--uv-gray-color);
$uv-lightgray-color: var(--uv-lightgray-color);

$uv-primary: var(--uv-primary);
$uv-primary-dark: var(--uv-primary-dark);
$uv-primary-disabled: var(--uv-primary-disabled);
$uv-primary-light: var(--uv-primary-light);

$uv-warning: var(--uv-warning);
$uv-warning-dark: var(--uv-warning-dark);
$uv-warning-disabled: var(--uv-warning-disabled);
$uv-warning-light: var(--uv-warning-light);

$uv-success: var(--uv-success);
$uv-success-dark: var(--uv-success-dark);
$uv-success-disabled: var(--uv-success-disabled);
$uv-success-light: var(--uv-success-light);

$uv-error: var(--uv-error);
$uv-error-dark: var(--uv-error-dark);
$uv-error-disabled: var(--uv-error-disabled);
$uv-error-light: var(--uv-error-light);

$uv-info: var(--uv-info);
$uv-info-dark: var(--uv-info-dark);
$uv-info-disabled: var(--uv-info-disabled);
$uv-info-light: var(--uv-info-light);
